<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <title>ATAR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="css/simple-sidebar.css" rel="stylesheet">
    <link href="css/layout.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/service/services-equipamento.js"></script>
    <script src="js/controller/controllers-equipamento.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

<body>
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
        <button onclick="w3_close()" class="w3-bar-item w3-large">Fechar &times;</button>
	  <button onclick="myFunction()" class="w3-bar-item w3-button dropbtn menuPai" >Gerenciamentos</button>
	  
	  <div id="myDropdown" class="dropdown-content">
	    <a href="/cadastro-cliente.html" class="w3-bar-item w3-button">Cadastro de Cliente</a>
        <a href="/cadastro-equipamento.html" class="w3-bar-item w3-button">Cadastro de Equipamento</a>
	  </div>
	  
	  

    </div>

    <!-- Page Content -->
    <div class="w3-teal">
        <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰ ATAR</button>
    </div>
    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
        
    </script>


    <div class="container bg-light">
		

   		
    
		   
        <div ng-controller="EquipamentoCRUDCtrl" class="padraoContainer">
        <br>

        
            <h3>Cadastro de Equipamentos</h3>
            <form>
<!--                 <div class="form-group"> -->
<!--                     <label for="marca">Marca:</label> -->
<!--                     <input type="marca" class="form-control" id="marca" required placeholder="Digite a marca" ng-model="equipamento.marca"> -->
<!--                     <input type="hidden" class="form-control" id="id" ng-model="equipamento.marca"> -->
<!--                 </div> -->
                
                <div class="form-groupp">
					<label for="marca">Marca: </label><br>
					<select class="form-control" name="singleSelect" ng-model="equipamento.marca" value="Selecione...">
						<option value="" selected="selected">Selecione...</option>
	 					<option value="BRASTEMP">BRASTEMP</option>
						<option value="CARRIER">CARRIER</option>
						<option value="CONSUL">CONSUL</option>
						<option value="DAIKIN">DAIKIN</option>
						<option value="ELECTROLUX">ELECTROLUX</option>
						<option value="ELGIN">ELGIN</option>
						<option value="FUJITSU">FUJITSU</option>
						<option value="GREE">GREE</option>
						<option value="HITACHI">HITACHI</option>
						<option value="KOMECO">KOMECO</option>
						<option value="LG">LG</option>
						<option value="MIDEO">MIDEO</option>
						<option value="PANASONIC">PANASONIC</option>
						<option value="RHEEM">RHEEM</option>
						<option value="SAMSUNG">SAMSUNG</option>
						<option value="SPRINGER">SPRINGER</option>
						<option value="TRANE">TRANE</option>
						<option value="YORK">YORK</option>
						<option value="OUTROS">OUTROS</option>
					</select>
				</div><br>
                
				<div class="form-group">
				    <label for="modelo">Modelo:</label>
				   <input type="modelo" class="form-control" id="modelo" required placeholder="Digite o modelo" ng-model="equipamento.modelo">
				</div>
                
<!--                 <div class="form-groupp"> -->
<!-- 					<label for="modelo">Modelo: </label><br> -->
<!-- 					<select class="form-control" name="singleSelect" ng-model="equipamento.modelo" placeholder="testetsete" value="Selecione..."> -->
<!-- 	 					<option value="BRASTEMP">BRASTEMP</option> -->
<!-- 						<option value="CARRIER">CARRIER</option> -->
<!-- 						<option value="CONSUL">CONSUL</option> -->
<!-- 						<option value="DAIKIN">DAIKIN</option> -->
<!-- 						<option value="ELECTROLUX">ELECTROLUX</option> -->
<!-- 						<option value="ELGIN">ELGIN</option> -->
<!-- 						<option value="FUJITSU">FUJITSU</option> -->
<!-- 						<option value="GREE">GREE</option> -->
<!-- 						<option value="HITACHI">HITACHI</option> -->
<!-- 						<option value="KOMECO">KOMECO</option> -->
<!-- 						<option value="LG">LG</option> -->
<!-- 						<option value="MIDEO">MIDEO</option> -->
<!-- 						<option value="PANASONIC">PANASONIC</option> -->
<!-- 						<option value="RHEEM">RHEEM</option> -->
<!-- 						<option value="SAMSUNG">SAMSUNG</option> -->
<!-- 						<option value="SPRINGER">SPRINGER</option> -->
<!-- 						<option value="TRANE">TRANE</option> -->
<!-- 						<option value="YORK">YORK</option> -->
<!-- 						<option value="OUTROS">OUTROS</option> -->
<!-- 					</select> -->
<!-- 				</div><br> -->
                <button type="button" class="text-white-100 btn btn-dark" ng-click="addEquipamento(equipamento)">Salvar</button>
            </form>
            <br>

            <div class="alert alert-success alert-dismissible" ng-if="isExibirSucesso">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Successo!</strong>{{message}}
            </div>
            <div class="alert alert-danger alert-dismissible" ng-if="isExibirErro">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Falha!</strong> {{errorMessage}}
            </div>

            <br>
            <br>
            <!-- <div class="table-responsive-md table-stripped">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Nome</th>
                                <th>Endereço</th>
                                <th>Nascimento</th>
                                <th>Editar</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cliente in clientes">
                                <td>{{cliente.nome}}</td>
                                <td>{{cliente.endereco}}</td>
                                <td>{{cliente.nascimento | date : "dd/MM/yyyy"}}</td>
                                <td>
                                    <a class="text-white-100  btn btn-dark" ng-click="updatecliente(cliente)">Editar</a>
                                </td>
                                <td>
                                    <a class="text-white-100  btn btn-secondary" ng-click="deletecliente($index)">Excluir</a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <br>
                </div> -->
        </div>
    </div>
    </div>
</body>

</html>