<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <title>ATAR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="css/layout.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/service/services-equipamento.js"></script>
    <script src="js/controller/controllers-equipamento.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<script>
	<!-- SCRIPT MENU -->
	/* When the user clicks on the button, 
	toggle between hiding and showing the dropdown content */
	function myFunction() {
	  document.getElementById("myDropdown").classList.toggle("show");
	}
	
	// Close the dropdown menu if the user clicks outside of it
	window.onclick = function(event) {
	  if (!event.target.matches('.dropbtn')) {
	    var dropdowns = document.getElementsByClassName("dropdown-content");
	    var i;
	    for (i = 0; i < dropdowns.length; i++) {
	      var openDropdown = dropdowns[i];
	      if (openDropdown.classList.contains('show')) {
	        openDropdown.classList.remove('show');
	      }
	    }
	  }
	}
	<!-- FIM SCRIPT MENU -->
</script>

<body>
	<!-- MENU -->
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
      <button onclick="w3_close()" class="w3-bar-item w3-large">Fechar &times;</button>
	  <button onclick="myFunction()" class="w3-bar-item w3-button dropbtn menuPai" >Gerenciamento</button>
	  <div id="myDropdown" class="dropdown-content">
	    <a href="/cadastro-cliente.html" class="w3-bar-item w3-button">Cadastrar Cliente</a>
        <a href="/cadastro-equipamento.html" class="w3-bar-item w3-button">Cadastrar Equipamento</a>
        <a href="/cadastro-servico.html" class="w3-bar-item w3-button">Cadastrar Serviço</a>
        <a href="/listar-clientes.html" class="w3-bar-item w3-button">Listar Clientes</a>
        <a href="/listar-equipamentos.html" class="w3-bar-item w3-button">Listar Equipamentos</a>
        <a href="/listar-servicos.html" class="w3-bar-item w3-button">Listar Serviços</a>
	  </div>
    </div>

    <div class="w3-teal">
        <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰ ATAR</button>
    </div>
    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
        
        function formataDtServ(data) {
			console.log(data);
		}
    </script>
	<!-- FIM MENU -->


    <div class="container bg-light">
        <div ng-controller="EquipamentoCRUDCtrl" class="padraoContainer">
            <h3>Listagem de Equipamentos</h3>
            <div class="table-responsive">
			<table class="container mdl-data-table mdl-js-data-table mdl-shadow--2dp" >
			  <thead>
			    <tr>
			      <th style="text-align:center" class="mdl-data-table__cell--non-numeric">Código</th>
			      <th style="text-align:left" class="mdl-data-table__cell--non-numeric">Marca</th>
			      <th style="text-align:left">Modelo</th>
			      <th style="text-align:left">Ações</th>
			    </tr>
			  </thead>
			  <tbody>
				<tr ng-repeat="equipamento in equipamentos">
                    <td style="text-align:center">{{equipamento.id}}</td>
                    <td style="text-align:left" class="mdl-data-table__cell--non-numeric">{{equipamento.marca}}</td>
                    <td style="text-align:left" class="mdl-data-table__cell--non-numeric">{{equipamento.modelo}}</td>
                    <td style="text-align:left">
						<button data-toggle="modal" data-target="#myModal" type="button" class="btn" value="Update" title="Alterar" ng-click="editar(equipamento)" >
													<i class="fas fa-edit"></i>											
						</button>
						<button type="button" data-toggle="modal" data-target="#modalDelete" class="btn" value="Excluir" ng-click="deletar(equipamento)"  title="Excluir">
													<i class="fas fa-trash-alt"></i>											
						</button>
                    </td>
				</tr>
			  </tbody>
			</table>
			</div>
            <br>
			
			<div id="btnIncluir" align="right">
				<form action="/cadastro-equipamento.html">
				    <input type="submit" class="text-white-100 btn btn-dark" value="INCLUIR" title="Incluir"/>
				</form>
			</div><br>
			
			<div class="alert alert-success alert-dismissible" ng-if="isExibirSucesso">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Successo!</strong>{{message}}
			</div>
			<div class="alert alert-danger alert-dismissible" ng-if="isExibirErro">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Falha!</strong> {{errorMessage}}
			</div>
			
			<div class="modal" id="myModal">
		  	<div class="modal-dialog modal-lg">
			    <div class="modal-content">
			
			      <!-- Modal Header -->
			      <div class="modal-header">
			        <h4 class="modal-title">Alterar Equipamento</h4>
			 
			        <button type="button" class="close" data-dismiss="modal">&times;</button>        
			      </div>
			
			      <!-- Modal body -->
			      <div class="modal-body">
							<div class="form-group">
								<label for="abc">Marca: </label><br>
								<select class="form-control" name="singleSelect" ng-model="equipamento.marca" value="Selecione...">
									<option value="" selected="selected">Selecione...</option>
				 					<option value="BRASTEMP">BRASTEMP</option>
									<option value="CARRIER">CARRIER</option>
									<option value="CONSUL">CONSUL</option>
									<option value="DAIKIN">DAIKIN</option>
									<option value="ELECTROLUX">ELECTROLUX</option>
									<option value="ELGIN">ELGIN</option>
									<option value="FUJITSU">FUJITSU</option>
									<option value="GREE">GREE</option>
									<option value="HITACHI">HITACHI</option>
									<option value="KOMECO">KOMECO</option>
									<option value="LG">LG</option>
									<option value="MIDEO">MIDEO</option>
									<option value="PANASONIC">PANASONIC</option>
									<option value="RHEEM">RHEEM</option>
									<option value="SAMSUNG">SAMSUNG</option>
									<option value="SPRINGER">SPRINGER</option>
									<option value="TRANE">TRANE</option>
									<option value="YORK">YORK</option>
									<option value="OUTROS">OUTROS</option>
								</select>
							</div><br>
							
							<div class="form-group">
							    <label for="modelo">Modelo:</label>
							   	<input type="text" class="form-control" id="modelo2" required="required" placeholder="Digite o modelo" ng-model="equipamento.modelo">
							</div>
							<br>
			      </div>
			
			      <!-- Modal footer -->
			      <div class="modal-footer">
			        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
			        <button type="button" class="text-white-100 btn btn-dark" title="Salvar" data-dismiss="modal" ng-click="updateEquipamento()">Salvar</button>
			      </div>
			
			    </div>
			</div>
			</div><br><br>
			
			<div class="modal fade" id="modalDelete" role="dialog">
			    <div class="modal-dialog modal-sm">
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title"> </h4>
			        </div>
			        <div class="modal-body">
			          <p>Deseja realmente excluir?</p>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cancelar()">Cancelar</button>
			          <button type="button" class="btn text-white-100 btn btn-dark" data-dismiss="modal" ng-click="deleteEquipamento(equipamento)">Confirmar</button>
			        </div>
			      </div>
			    </div>
			</div>
  

        </div>
    </div>
</body>

</html>