<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <title>ATAR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="css/layout.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/service/services-equipamento.js"></script>
    <script src="js/controller/controllers-equipamento.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<script>
	<!-- SCRIPT MENU -->
	/* When the user clicks on the button, 
	toggle between hiding and showing the dropdown content */
	function myFunction() {
	  document.getElementById("myDropdown").classList.toggle("show");
	}
	
	// Close the dropdown menu if the user clicks outside of it
	window.onclick = function(event) {
	  if (!event.target.matches('.dropbtn')) {
	    var dropdowns = document.getElementsByClassName("dropdown-content");
	    var i;
	    for (i = 0; i < dropdowns.length; i++) {
	      var openDropdown = dropdowns[i];
	      if (openDropdown.classList.contains('show')) {
	        openDropdown.classList.remove('show');
	      }
	    }
	  }
	}
	<!-- FIM SCRIPT MENU -->
</script>

<script>
var app = angular.module('app', [])
app.controller('EquipamentoCRUDCtrl', function ($scope, $http, $window) {
    $scope.getAllEquipamentos = function () {
        $http({
            method: "POST",
            url: "/atar/cadastrar-equipamento/listar-equipamento",
            dataType: 'json',
            data: {},
            headers: { "Content-Type": "application/json" }
        }).then(function (response) {
            $scope.equipamentos = response.data.data;
        }, function () {
            $window.alert(response.Message);
        });
    }
});
</script>
<body>
	<!-- MENU -->
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
      <button onclick="w3_close()" class="w3-bar-item w3-large">Fechar &times;</button>
	  <button onclick="myFunction()" class="w3-bar-item w3-button dropbtn menuPai" >Gerenciamento</button>
	  <div id="myDropdown" class="dropdown-content">
	    <a href="/cadastro-cliente.html" class="w3-bar-item w3-button">Cadastrar Cliente</a>
        <a href="/cadastro-equipamento.html" class="w3-bar-item w3-button">Cadastrar Equipamento</a>
        <a href="/cadastro-servico.html" class="w3-bar-item w3-button">Cadastrar Serviço</a>
        <a href="/listar-clientes.html" class="w3-bar-item w3-button">Listar Clientes</a>
        <a href="/listar-equipamentos.html" class="w3-bar-item w3-button">Listar Equipamentos</a>
        <a href="/listar-servicos.html" class="w3-bar-item w3-button">Listar Serviços</a>
	  </div>
    </div>

    <div class="w3-teal">
        <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰ ATAR</button>
    </div>
    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
    </script>
	<!-- FIM MENU -->


    <div class="container bg-light">
        <div ng-controller="EquipamentoCRUDCtrl" ng-app="app" ng-init="getAllEquipamentos()" class="padraoContainer">
            <h3>Listagem de Equipamentos</h3>
            <div class="table-responsive">
			<table class="container mdl-data-table mdl-js-data-table mdl-shadow--2dp" >
			  <thead>
			    <tr>
			      <th style="text-align:center" class="mdl-data-table__cell--non-numeric">Código</th>
			      <th style="text-align:left" class="mdl-data-table__cell--non-numeric">Marca</th>
			      <th style="text-align:left">Modelo</th>
			      <th style="text-align:center">Ações</th>
			    </tr>
			  </thead>
			  <tbody>
				<tr ng-repeat="e in equipamentos">
                    <td style="text-align:center">{{e.id}}</td>
                    <td style="text-align:left" class="mdl-data-table__cell--non-numeric">{{e.marca}}</td>
                    <td style="text-align:left" class="mdl-data-table__cell--non-numeric">{{e.modelo}}</td>
                    <td>
						<button type="button" class="btn" value="Update" ng-click="UpdateEmp(Emp)" title="Alterar">
												<i class="fas fa-edit"></i>											
						</button>
						<button type="button" class="btn" value="Delete" ng-click="DeleteEmp(Emp)" title="Excluir">
												<i class="fas fa-trash-alt"></i>											
						</button>
                    </td>
				</tr>
			  </tbody>
			</table>
			</div>
            <br>
			
			<div id="btnIncluir" align="right">
				<form action="/cadastro-equipamento.html">
				    <input type="submit" class="text-white-100 btn btn-dark" value="INCLUIR" title="Incluir"/>
				</form>
			</div>


            <br>
            <br>
        </div>
    </div>
    </div>
</body>

</html>